.bloco-tema{
    display: flex;
}

.tema-curso{
    font-weight: bold;
    font-size: 55px;
    line-height: 63px;
    color: #FF4081;
}
.bloco-titulo-subtitulo{
    margin:50px 0px 50px 125px;
    padding-left: 70px;
}
.imagem-curso-home{
    margin: 50px 250px 0px 88px;
    width: 380px;
    height: 381px;
}
.sinopse-curso{
    margin-top:30px;
    font-weight: 300;
    display: block;
    padding-right: 80px;
    font-size: 20px;
    line-height: 23px;

}

.bloco-videos-curso{
    background-color: #F7F7F7;
}
.imagem-video{
    width: 462px;
    height: 261px;
    border: solid 3px #8E8E8E;
}
.aula{
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
    padding: 75px 177px 30px 50px;

}
.resumo{
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
    margin-left: 188px;

}
.container-aula{
    display:flex;
    padding: 100px;
    
}

@media (max-width:415px){
    .bloco-tema{
        display:block
    }
    
    .tema-curso{
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        color: #FF4081;
        text-align: center;
        margin: 20px 0px 0px 0px;
    }
    .bloco-titulo-subtitulo{
        margin:0px;
        padding: 0px;
        font-display: flex;
        flex-direction: column;
    }
    .imagem-curso-home{
        display:none;
    }
    .sinopse-curso{
       display: none;
    
    }
    
    .bloco-videos-curso{
        background-color: #F7F7F7;
    }
    .imagem-video{
        width: 162px;
        height: 161px;
        border: solid 3px #8E8E8E;
    }
    .aula{
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #FF4081;
        padding: 0px;
    
    }
    .resumo{
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        margin: 0px;
    
    }
    .container-aula{
        display:flex;
        flex-direction: column;
        padding: 0px;
        margin:10px;
        
    }
