.titulo-pagina{
    margin:6% 6% 0% 6%;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    text-transform: capitalize;
    color: #FF4081;

}
.subtitulo-pagina{
    margin:0% 6%;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

.bloco-curso{
    display:flex;
    margin: 6%;

}
.imagem-curso-home{
    width: 380px;
    height: 381px;
}
.titulo-curso{
    color:#FF4081;
    font-weight: bold;
    font-size:35px;
    line-height: 40px; 
    text-align: center;
    margin: 40px 70px;

}
.sinopse-curso{
    font-size:18px;
    line-height: 20px; 
    text-align:start;
    color: #000000;
    font-weight: 100;
    margin: 60px 80px 50px 70px;

}

.clique-comecar{
    background: #419488;
    color:#FFFFFF;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 62px;
    padding: 17px 45px;
    font-size: 20px;
    line-height: 23px;
    margin: 40px 70px;

}
.bloco-texto{
    margin-bottom:20px;
    text-align: initial;

}
hr{
    border: solid 3px #C4C4C4;
    margin:0% 6%;
}

@media (max-width:415px){
    .titulo-pagina{
        font-weight: bold;
        font-size: 30px;
        line-height: 34px;
        text-transform: capitalize;
        color: #FF4081;
    
    }
    .subtitulo-pagina{
        font-size: 12px;
        line-height: 14px;
        color: #555555;
    }
    
    .bloco-curso{
        display: flex;
        flex-direction: column;
    
    }
    .imagem-curso-home{
        width: 180px;
        height: 181px;
        padding-top: 20px;
    }
    .titulo-curso{
        color:#FF4081;
        font-weight: bold;
        font-size:20px;
        line-height: 22px; 
        margin: 0px;
        display:block;
    }
    .sinopse-curso{
        font-size:18px;
        line-height: 20px; 
        text-align:justify;
        color: #000000;
        font-weight: 100;
        margin: 0px;
        padding: 0px;
    
    }
    
    .clique-comecar{
        background: #419488;
        color:#FFFFFF;
        text-decoration: none;
        box-sizing: border-box;
        border-radius: 62px;
        font-size: 12px;
        line-height: 14px;
        padding:2px 10px;
        margin-left: 85px;
    
    }
    .bloco-texto{
        text-align: initial;
        margin:0px;
        padding: 0px;    
    }
    hr{
        border: solid 3px #C4C4C4;
    }
}